body {
    font-family: 'Urbanist', sans-serif;
    background-color: white;
    margin: 0px;
}


/* HEADER */
#navBar {

    display: flex;
    flex-directon: row;
    margin: 0 40px;
    padding-top: 20px;
    height: 120px;
}

.left {
    display: flex;
    width: 35%;
    margin-top: 30px;
}

.left h3 {
    width: 10%;
    font-weight: 600;
}

.center {
    width: 60%;
    padding:25px;
    text-align: center;
}

#navigation {
    display: flex;
    width: 35%;
    align-items: center;
    justify-content: flex-end;
    margin: 0;
}

#navigation p {
    margin: 10px 0px 10px 20px;
    font-size: 20px;
}

.highlight {
    color: #FF6200;
    font-weight: 600;
  }

/* TYPOGRAPHY */

h1 {
    font-size: 60px;
    margin: 40px 40px;
    margin-top: 120px;
    color: #0076BE;
}

h2 {
    font-size: 25px;
    font-weight: 400;
    margin: 20px 40px;
    color: #0076BE;
}

h3 {
    font-size: 20px;
    font-weight: 400;
}


/* HERO _ REDO */

#heroGrid {
    margin: -30px 0px;
    justify-content: space-between;
    background-color: #E1F4FA;
    display: grid;
    min-height: 650px;
    height: 7vh;
    grid-template-rows: 100%;
    grid-template-columns: 50% 50%;
    grid-template-areas: "headline headshot"
    ;
}

#headline {
    grid-area: headline;
}

#headshot {
    grid-area: headshot;
    justify-self: end;
}





.more {
    font-size: 20px;
    background-color: #3985AE;
    padding: 30px 30px 30px 10%;
    color: white;
}

/* SECTION 1 - CASE STUDIES */

#caseGrid {
    margin: -30px 0px;
    background-repeat: none;
    display: grid;
    min-height: 650px;
    height: 7vh;
    grid-template-rows: 30% 70%;
    grid-template-columns: 50% 50%;
    grid-template-areas: "caseHeader" "caseHeader";

    ;
}

#caseHeader {
    background-image: url("../images/sec1_cs.png");
    size: 400px;
}



#caseStudies {
    display: flex;
    flex-direction: column;
    background-image: url("../images/sec1_bkgd_cs.png");
    width: auto;
    padding-top: 3rem;
    height: 700px;
    align-items: space-between;
   
}

#caseHead {
    display: flex;
    justify-content: center;
    margin: 0px;
}

#cases {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 80px;
    padding: 10px;
}



/* SECTION 2 - QUOTE */

.amyFeature {
    background-color: #3985AE;
    display: flex;
    margin: 0px;
    padding: -40px;
    padding-left: 30px;
    
}

.amyStanding {
    margin-top: -25px
    

}

.secTwo {
    padding: 30px;
    align: center;
    color: white;
}



/* SECTION 2 - LOGOS */

#logoFolio {
    display: block;
    padding-top: 3rem;
    background-image: url("../images/fter_bkgd.png");
    width: auto;
    height: 550px;
    align-items: center;
    margin-top: -30px;
    border-bottom: solid 3px #0076BE;
   
}

#logoHead {
    display: flex;
    justify-content: center;
    margin: 0px;
}

#logoCards {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 70px;
    padding: 10px;
}

/* FOOTER */




#footer {
    display: flex;
    justify-content: space-between;
    margin-right: 30px;
    background-color: white;
}




#footerNav {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 30%;
    padding: 40px;

}

.footerLogo {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
    padding: 40px;

}

#footerNav p {
    margin: 30px 0px 15px 0px;
    display: flex;
    align-items: end;
    font-size: 20px;
}


.icons {
    width: auto;
    height: 10%;
    padding: 10px;
}



/* FOOTER _ REDO 2 */
